
/* GENEARL */

body{
    margin: 0;
    padding: 0;
    }

.container {
padding: 0;
margin: 0;
}

h1, h2, h3, p {
line-height: 1.7;

}

.hd-position {
    position: relative;
    z-index: 9999;
}


.hr-circle {

    background-color: #edede8;
    position: relative;
    z-index: 4;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100px;
    height: 100px;
    margin: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
}

.hr-margin {
    margin: 0px 1rem 0px 3rem;
}

/* Nav bar related */
.float-left {
    text-align: left;
    float:left;
}

.float-right {
    text-align: left;
    float:right;
    position:relative;
    display: block;
    margin-top: 5px;
    margin-right: 60px;
    background-color: transparent;
}

.nav {
    position: fixed;
    display: block;
    width: 100%;
    height: 70px;
    padding-right: 40px;
    padding-left: 40px;
    background-color: transparent;

}

.nav-list{
    list-style-type: none;
    position:relative;
    margin-left: auto;
    margin-right: auto;
    vertical-align: top;

}
.hr-li {
    float:left;
    padding: 16px;
    text-decoration: none;
    text-align: left;
    color: #000;
}


.nav-bar-header {
    padding: 5px 0px;
    background-color:
    text-align: left !important;

}

.text-underline {
    text-decoration: underline;
}

/* Container */
.container {
    text-align: center;
}

.container, .text-container {
    text-align: center;
    padding: 3em;
}

/* Font  */
.large-font-size {
    font-size: 2.4vw;
    }

.extra-large-font-size {
    font-size: 21vw;
}

.white-opacity-text {
    margin-bottom: 50px;
    padding-bottom: 0px;
    color: #fff;
    font-size: 18vw;
    line-height: 0.8;
    font-weight: 700;
    text-align: center;
    opacity: 0.4;
}

.text-circle {
    position: relative;
    font-family: 'Butler Regular', sans-serif;
    color: #000;
    font-size: 18px;
}

.text-left {
    text-align: left;
}

.home-background-img {
    background-image: url(assets/home_banner_image.png);
    z-index: 10000;
    background-size:100%;
    padding-left: 5rem; 
    padding-top: 5rem;
    max-height:500px;
    margin-top: 3rem;
    margin: auto 0;
    background-repeat:no-repeat;
}

.first-section-home {
    background-color: #edede8;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

.second-section-home {
    background-color: #F7DB48;
}

.third-section-home {
    background-color: #B1DDE2
}

.fourth-section-home {
    background-color: #edede8;
}

.fifth-section-home {
    background-color: #ffffff;
}

.sixth-section-home {
    background-color: #ffffff;
    display:flex;
    font-size:15px;
    padding: 1rem;
    margin: auto;
    text-align: center;
}


.text-move-up {
    margin-top: -200px; 
}


/* Columns and row */
.column, .col-2 { 
    float:left;
    width:16.6%;
}

.column, .col-3 { 
    float:left;
    width:25%;
}

.column, .col-4 { 
    float:left;
    width:33.4%;
}

.column, .col-6 { 
    float:left;
    width:50%;
}

.column, .col-7 { 
    float:left;
    width:58.3%;
}

.column, .col-8 { 
    float:left;
    width:66.7%;
}

.column, .col-9 { 
    float:left;
    width:75%;
}

.column, .col-12 { 
    float:left;
    width:100%;
}

.row{
    display: flex;
}

/* BUTTONS */
.primary-btn {
padding-top: 1rem;
padding-bottom: 1rem;
padding-left: 4rem;
padding-right: 4rem;
outline-color: none;
border-radius: 8px;
background-color: #000;
font-size: 14px;
color: #fff;
}




/* */

.hd-animation-margin
{ margin-top: -300px;
}

/* Mobile optimisation*/

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 


}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 


 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 


 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 


 }


 /* Accordian */

 .accordion {
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    border-color: #fddc37;
    background-color: transparent;
    transition: 0.4s;
    padding: 40px;
    display:flex;
    width:100%;
    margin-bottom:30px;

  }
  
  .active, .accordion:hover {
    background-color: #f7f7f7; 
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
    text-align: left;
    font-weight:normal;
  }